#ensaladas .card-reveal {background-color: rgba(220,231,117,0.8)}

h2{text-shadow: 3px 2px 0px rgba(150, 150, 150, 1);}

.submenu {
	position: absolute;
	z-index: 100;
	opacity: 0;
	transition: all .3s easy-in .15s;
	}

.submenu li {
	float: none;
	background-color: #3e2723;
	}

.desplegable:hover .submenu {
	opacity:1;
	display: block;
	visibility: 
	
	}



















	
	
	
	
	
	
	
	
	
	
	
	
	
